@import url("roboto.css");

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header */
header h1 {
    font-style: normal;
    font-size: 2em;
    letter-spacing: 1px;
}

header h1 em {
    letter-spacing: -2px;
    font-weight: 300;
    font-style: normal;
    font-size: 160%;
}

.contents {
    margin-left:15%;
    margin-right:15%;
}


#drawbox {
    width:70%;    
    position:absolute;
    display:inline-block;
}

.box {
    -webkit-transform-origin:0% 0%; /* Safari and Chrome */
    position:absolute;
    display:inline-block;

    white-space: nowrap;
    outline:0px solid transparent;
}


/* Alternating colors on the table */

.shiny {
    line-height:1.25em;
    opacity:.75;
}

/*
.shiny:nth-child(even) {
    background:rgb(55,130,135);
}
*/

.shiny :nth-child(even) {
    background:rgb(228,29,107);
}
